
h1{
    color: #49108B
}

.project-container {
    display: grid;
    grid-template-columns:  50% 50%; 
    grid-template-rows: 400px 400px;
    gap: 9px;
    justify-content: space-around;

}

@media (max-width: 1000px) {
    .project-container {
        display: grid;
        grid-template-columns: 1fr;

    }
}

.project {
    border: solid 10px #8acdd793  ;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}

#sum {
    color: #140527;
    font-size: 90%;
    font-weight: 10;

}

.projectname {
    color: #f99ac0;
    font-weight: 200;
    background-color: #8acdd793;
    padding: 0px 10px;
    border: solid 2px black;
}

.extrainfo {
    color: black;
    font-family: 'Lucida Sans';
    font-size: larger;
}

p{
    font-family: Arial;
}

div{
    align-items: center;
    border: solid #FFC0D9E0;
    border-width: 10px 20px;
    font-family: 'Preahvihear', sans-serif;
    text-align: center;
    background-color: #F9F9E0
    
}

.indeximg{
    height: 250px;
    border: solid 5px grey;

}

.mainpagebutton {
    color: #E26EE5;
    font-family: 'Preahvihear', sans-serif;
    font-weight: bold;
    border: #140527 solid 1px;
    padding: 4px;
    background-color:antiquewhite

}